*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #D6EAF8 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background: #000000;
    padding: 20px;
    border-radius: 10px;
}
.Calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    /*box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px hsl(239, 51%, 44%);*/
    /*background: transparent;*/
    font-size: 30px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background-color: grey;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    background-color: rgb(0, 109, 204);
}
form input.operator{
    color: hsl(0, 7%, 76%);
    background-color: rgb(0, 109, 204);
}
.Calculator form .box{
    background-color: black;
}

